<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Suara Bersama"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="34">

        <activity android:name=".HomeActivity"/>
<!--        <activity android:name=".LandingPageActivity"/>-->
        <activity android:name=".CapresActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".LoginRegActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".CommentActivity"/>


        <activity
            android:name=".LandingPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>